@import "./hamburger/index.css";
@import "./breadcrumb/index.css";



.navbar {
    height: 50px;
    overflow: hidden;
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

.navbar .hamburger-container {
    line-height: 46px;
    height: 100%;
    float: left;
    cursor: pointer;
    -webkit-transition: background .3s;
    transition: background .3s;
    -webkit-tap-highlight-color: transparent;
}

.navbar .hamburger-container:hover {
    background: rgba(0, 0, 0, 0.025);
}

.navbar .breadcrumb-container {
    float: left;
}

.navbar .topmenu-container {
    position: absolute;
    left: 50px;
}

.navbar .errLog-container {
    display: inline-block;
    vertical-align: top;
}

.navbar .right-menu {
    float: right;
    height: 100%;
    line-height: 50px;
}

.navbar .right-menu:focus {
    outline: none;
}

.navbar .right-menu .right-menu-item {
    display: inline-block;
    padding: 0 8px;
    height: 100%;
    font-size: 18px;
    color: #5a5e66;
    vertical-align: text-bottom;
}

.navbar .right-menu .right-menu-item.hover-effect {
    cursor: pointer;
    -webkit-transition: background .3s;
    transition: background .3s;
}

.navbar .right-menu .right-menu-item.hover-effect:hover {
    background: rgba(0, 0, 0, 0.025);
}

.navbar .right-menu .avatar-container {
    margin-right: 30px;
}

.navbar .right-menu .avatar-container .avatar-wrapper {
    margin-top: 5px;
    position: relative;
}

.navbar .right-menu .avatar-container .avatar-wrapper .user-avatar {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.navbar .right-menu .avatar-container .avatar-wrapper .el-icon-caret-bottom {
    cursor: pointer;
    position: absolute;
    right: -20px;
    top: 25px;
    font-size: 12px;
}
