@import "./components/index.css";



.app-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.app-wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.app-wrapper.mobile.openSidebar {
    position: fixed;
    top: 0;
}


.fixed-header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
    width: calc(100% - 200px);
    -webkit-transition: width 0.28s;
    transition: width 0.28s;
}

.hideSidebar .fixed-header {
    width: calc(100% - 54px);
}

.mobile .fixed-header {
    width: 100%;
}
