/* 搜索框相关 */
.search{
    -fx-background-color: #eeebe8;
}

.searchInput{
    -fx-border-width: 0;
    -fx-background-color: #dbd9d8;
    -fx-background-radius: 8px;
    -fx-font-family: "微软雅黑";
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 0px center;
}

.searchInput:focused{
    /*-fx-border-width: 1;*/
    -fx-border-color: #dbd9d8;
    -fx-border-radius:8px;
    -fx-background-color: #f6f6f5;
}

.searchAdd{
    -fx-background-color: #dbd9d8;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #dbd9d8;
    -fx-cursor: hand;
    -fx-background-image: url("/fxml/home/img/search_0.png");
}

.searchAdd:hover{
    -fx-background-color: #d1d1d1;
    -fx-border-color: #d1d1d1;
}
/*  工具列表 */
#tool{
    -fx-border-width: 0;
    -fx-background-color: #eeebe8;
}

.toolListStyle .scroll-bar:vertical .track,
.toolListStyle .scroll-bar:horizontal .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    /*-fx-border-radius:2em;*/
}

.toolListStyle .scroll-bar:horizontal .increment-button,
.toolListStyle .scroll-bar:horizontal .decrement-button{
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 0 0;
}

.toolListStyle .scroll-bar:vertical .increment-button,
.toolListStyle .scroll-bar:vertical .decrement-button{
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 -1500 0;
}

.toolListStyle .scroll-bar .increment-button,
.toolListStyle .scroll-bar .decrement-button{
    -fx-shape: "";
    -fx-padding:0;
}

.toolListStyle .scroll-bar:vertical  .thumb,
.toolListStyle .scroll-bar:horizontal  .thumb{
    -fx-background-color:derive(#c7c6c6, 10%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 1em;
}

.toolListStyle .scroll-bar:vertical,
.toolListStyle .scroll-bar:horizontal{
    -fx-pref-width: 10;
    -fx-background-color:transparent;
}

#toolList{
    -fx-background-color:transparent;
}

#toolList .list-cell {
    -fx-background-color: #eeebe8;
    -fx-text-fill: black;
    -fx-font-family: "Forte";
    -fx-font-weight: bold;
}

#toolList .list-cell:selected{
    -fx-background-color: derive(#c7c6c6, 10%);
    -fx-text-fill: black;
    -fx-font-family: "Forte";
    -fx-font-weight: bold;
}

.toolElement{
    -fx-background-color:transparent;
    -fx-text-fill:black;
}


.element_toolIcon {
    -fx-background-position: center center;
    /*-fx-background-repeat: no-repeat;*/
    -fx-background-radius: 10px;
    -fx-background-size: 30px 30px;
    -fx-background-color: white;
    -fx-background-image: url("/fxml/home/img/tool/tool_default_5050.png");
}

.element_toolName{
    -fx-font-family: "微软雅黑";
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
    -fx-white-space: nowrap;
    -fx-overflow: hidden;
    -fx-text-overflow: ellipsis;
    -fx-text-align: left;
}
