@import "home_nav.css";

#home_box{
    -fx-background-radius:0 0 6px 6px;
    -fx-background-color: white;
}

/* 分割线 */
.split-pane *.split-pane-divider {
    -fx-padding: 0 0 0 1; /* 0 3 0 3 */
}


