.nav_box {
    -fx-background-color: #f6f6f6;
    -fx-background-position: center center;
}

.nav_icon {
    -fx-background-size: cover;
    -fx-background-image: url("/assets/img/app/tools.png");
}

/*.close,.close:pressed{*/
/*    -fx-max-width: 17px;*/
/*    -fx-max-height: 17px;*/
/*    -fx-background-color: #f45454;*/
/*    -fx-background-radius: 50%;*/
/*}*/

/*.close:hover{*/
/*    -fx-background-size: cover;*/
/*    -fx-background-image: url("../img/close_32.png");*/
/*}*/

/*.min,.min:pressed{*/
/*    -fx-max-width: 17px;*/
/*    -fx-max-height: 17px;*/
/*    -fx-background-color: #fdbd41;*/
/*    -fx-background-radius: 50%;*/
/*}*/

/*.min:hover{*/
/*    -fx-background-size: cover;*/
/*    -fx-background-image: url("../img/min_0.png");*/
/*}*/
